

#topnav1{
    background-color: aquamarine;
    text-align: center;
    font-family: fantasy;
    
}
table h2{
    color: aqua;
}

.collum{
    background-color: rgba(255, 255, 255, 0.5);
    width: 30%;
}

/* Colunas */

.column {
    float: left;
    width: 50%;
}
  
.row:after {
    content: "";
    display: table;
    clear: both;
}

body{
    margin: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.login {
    background-color: rgb(106, 106, 106);
}